<app-menu selected="messages"></app-menu>
<div class="row">
  <div class="row title">
    <h3>Mensagens</h3>
  </div>
  <div class="col-md-5" *ngIf="talk != ''">
    <div class="row photo">
      <div *ngIf="talk.user == null || talk.user == ''">
        <i class="fa fa-user-circle user-icon"></i>
      </div>
      <div *ngIf="talk.user != null">
        <div class="profile-picture profile-picture-perfil" [ngStyle]="{'background-image': 'url(' + talk.user.photo.url + ')'}">
        </div>
      </div>
    </div>
    <div class="row infos">
      <div class="row name">
        <b>{{ talk.user.name }}</b>
      </div>
      <div class="row phone" *ngIf="talk.user.phone != null">
        <i class="fa fa-phone text-center"></i>  {{ talk.user.phone }}
      </div>
      <div class="row email">
        <i class="fa fa-envelope text-center"></i> {{ talk.user.email }}
      </div>
    </div>
    <div class="row reservation" *ngIf="talk.reservation != null">
      <h4 class="row title">Sua Reserva</h4>
      <div class="row description">
        <h4>Casa Beira Mar</h4>
        {{ talk.reservation.address.city }}, {{ talk.reservation.address.state }}
      </div>
      <div class="row date">
        <div class="col-md-4">
          <div class="row">
            <b>Check In</b>
          </div>
          <div class="row">
            {{ talk.reservation.checkin_date | date:"dd/MM/yy" }}
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <b>Check Out</b>
          </div>
          <div class="row">
            {{ talk.reservation.checkout_date | date:"dd/MM/yy" }}
          </div>
        </div>
      </div>
      <div class="resume">
        <div class="row">
          <b>Aceito</b>
        </div>
        <div class="row">
          R${{ talk.reservation.price }}
        </div>
        <div class="row">
          {{ talk.reservation.interval_of_days }} diárias
        </div>
      </div>
      <div class="address">
        <div class="row">
          <b>Endereço de Sua Reserva</b>
        </div>
        <div class="row">
          {{ talk.reservation.address.street }}, {{ talk.reservation.address.number }} - CEP {{ talk.reservation.address.zipcode }}
        </div>
        <div class="row">
          {{ talk.reservation.address.city }}, {{ talk.reservation.address.state }}, {{ talk.reservation.address.country }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="row send_message">
      <div class="row">
        <textarea cols="60" rows="10" class="col-md-8 col-md-offset-2" [(ngModel)]="message" placeholder="Envie sua mensagem..." (keydown)="onEvent($event)"></textarea>
      </div>
      <div class="row btn-send-message">
        <button class="btn btn-success-custom col-md-4 col-md-offset-6" (click)="sendMessage(talk.id)">ENVIAR MENSAGEM</button>
      </div>
    </div>
    <hr>
    <div class="row messages">
      <div *ngFor="let m of talk.messages">
        <div class="row">
          <div class="col-md-2" [ngClass]="{'pull-right' : m.user.id == talk.user.id}">
            <div *ngIf="m.user.photo == null || m.user.photo == ''">
              <i class="fa fa-user-circle user-icon"></i>
            </div>
            <div *ngIf="m.user.photo.url != null">
              <div class="profile-picture" [ngStyle]="{'background-image': 'url(' + m.user.photo.url + ')'}">
              </div>
            </div>
          </div>
          <div class="col-md-8" [ngClass]="{'pull-right' : m.user.id == talk.user.id}">
            <p>{{ m.body }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
